h2.title {
  margin-bottom: 1rem;
}
.form {
  padding: 2rem;
  display: grid;
  column-gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
}

.form .left-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form .right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}
.preview-image {
  width: 128px;
  height: 200px;
  background-color: white;
  border: 1px solid rgb(100, 99, 99);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid purple;
  color: purple;
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button.cancel {
  background-color: rgb(236, 230, 230);
  color: rgb(32, 32, 32);
}

button.cancel:hover {
  background-color: gray;
  color: white;
}
