section.books-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-bar {
  padding: 1.25rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.action-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.action-btn button i {
  color: blue;
}
