* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #5d5d5d;
  background-color: #eff1fd;
  height: 100vh;
}

/* override primereact styles */
.p-datatable.datatable {
  width: 100% !important;
}
.p-datatable.datatable i {
  font-size: 1.25rem;
}

.p-inputtext {
  background-color: #eff1fd !important;
}
.p-dropdown .p-dropdown-trigger {
  background-color: #eff1fd !important;
}

.p-inputtext.p-inputtext-sm {
  background-color: white !important;
}
